<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="detalleFactura">
            <h2><span>Detalle Factura</span> {{detalleFactura.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Detalle Fact ID</span></dt>
                <dd>
                    <span>{{detalleFactura.detalleFactID}}</span>
                </dd>
                <dt><span>Factura Nro</span></dt>
                <dd>
                    <span>{{detalleFactura.facturaNro}}</span>
                </dd>
                <dt><span>Detalle Fac Descripcion</span></dt>
                <dd>
                    <span>{{detalleFactura.detalleFacDescripcion}}</span>
                </dd>
                <dt><span>Detalle Fac Precio Unitario</span></dt>
                <dd>
                    <span>{{detalleFactura.detalleFacPrecioUnitario}}</span>
                </dd>
                <dt><span>Detalle Fac Cantidad</span></dt>
                <dd>
                    <span>{{detalleFactura.detalleFacCantidad}}</span>
                </dd>
                <dt><span>Detalle Fac Total</span></dt>
                <dd>
                    <span>{{detalleFactura.detalleFacTotal}}</span>
                </dd>
                <dt><span>Facturas</span></dt>
                <dd>
                    <div *ngIf="detalleFactura.facturas">
                        <a [routerLink]="['/facturas', detalleFactura.facturas?.id, 'view']">{{detalleFactura.facturas?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/detalle-factura', detalleFactura.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
